# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/

# Environment variables / secrets
.env

# Telegram local session files
*.session
*.session-journal

# Local forwarding database
# DO NOT ignore forwarded_messages.json
# GitHub Actions needs to persist this file.